:root {
  --color-primary-limeGreen: hsl(163, 72%, 41%);
  --color-primary-brightRed: hsl(356, 69%, 56%);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-background: rgb(30, 32, 42);
    --color-backgroundDetail: rgb(31, 33, 46);
    --color-topBGPattern: rgb(31, 33, 46);
    --color-cardBG: rgb(37, 42, 65);
    --color-cardBGHover: rgb(51, 58, 86);
    --color-text: rgb(139, 151, 198);
    --color-primary-text: rgb(255, 255, 255);

    --color-switcher__checked: linear-gradient(
      to right,
      rgb(55, 143, 230),
      rgb(62, 218, 130)
    );
    --color-switcher: rgb(174, 179, 203);
  }

  body.light-theme {
    --color-background: rgb(255, 255, 255);
    --color-backgroundDetail: rgb(248, 249, 254);
    --color-topBGPattern: rgb(245, 247, 255);
    --color-cardBG: rgb(240, 242, 250);
    --color-cardBGHover: rgb(225, 227, 239);
    --color-text: rgb(99, 104, 126);
    --color-primary-text: rgb(30, 32, 42);
  }
}

@media (prefers-color-scheme: light) {
  body.dark-theme {
    --color-background: rgb(30, 32, 42);
    --color-backgroundDetail: rgb(32, 34, 47);

    --color-topBGPattern: rgb(31, 33, 46);
    --color-cardBG: rgb(37, 42, 65);
    --color-cardBGHover: rgb(51, 58, 86);
    --color-text: rgb(139, 151, 198);
    --color-primary-text: rgb(255, 255, 255);
  }

  body {
    --color-switcher__checked: linear-gradient(
      to right,
      rgb(55, 143, 230),
      rgb(62, 218, 130)
    );
    --color-switcher: rgb(174, 179, 203);

    --color-background: rgb(255, 255, 255);
    --color-backgroundDetail: rgb(248, 249, 254);
    --color-topBGPattern: rgb(245, 247, 255);
    --color-cardBG: rgb(240, 242, 250);
    --color-cardBGHover: rgb(225, 227, 239);
    --color-text: rgb(99, 104, 126);
    --color-primary-text: rgb(30, 32, 42);
  }
}
